/* body {
    margin: 0;
    background-color: aliceblue;
}

.colores {
    height: 7px;
    margin: 0;
    background: linear-gradient(to right, rgba(255, 208, 7) 0%, rgba(255, 208, 7) 12.5%, rgba(192, 156, 221, 1) 62.5%, rgba(192, 156, 221, 1) 75%);
}

.colores1 {
    height: 10px;
    margin: 0;
    margin-top: 20px;
    background: linear-gradient(to right, rgba(255, 208, 7) 0%, rgba(255, 208, 7) 12.5%, rgba(192, 156, 221, 1) 62.5%, rgba(192, 156, 221, 1) 75%);
}
*/
*{color: rgb(105, 103, 102);}
 
.header-line {
    margin: 0;
    border: 0;
    height: 7px;
    background: linear-gradient(to right, rgba(255, 208, 7) 0%, rgba(255, 208, 7) 12.5%, rgba(192, 156, 221, 1) 62.5%, rgba(192, 156, 221, 1) 75%);
}

#n1 {
    margin-right: 33%;
   
}

nav {
    height: 80px;
    
}

#btn1 {

    width: 150px;
    height: 45px;
}


#f{
    width: 30%;
}
.info {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
.prof{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.items {
    position: relative;
    width: 100%;
    white-space: nowrap;
    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;
    user-select: none;
    cursor: pointer;
    text-align: center;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 5px;
}

.item{
    text-align: center;
    margin-left: 30px;
    white-space: nowrap;
}
.item img {
    border-radius: 50%;
    box-shadow: 2px 2px 6px gray;
    height: 75px;
    width: 75px;
    background-color: white;
}
.item p {
    margin-top: 3px;
}
#dropdown{
    width: 700px;
  height: 100;
}
#card{
    width: 30%;
}
.main {
   
    background-image: url(slider-2.jpg) ;
    height: 420px;
    background-repeat: no-repeat;
    background-position: center center;
}



.welcome button {
    color: rgb(255, 255, 255);
    background-color: #7600d9;
    height: 48px;
}
#welcome{
    margin-left: 100px;
}

nav{
    height: 80px;
}
#dropdown{
    width: 700px;
  height: 100;
}
.dropdown-menu{
    width: 800px;
}
#e{
    background-color: #7600d9;
}

/* }
nav .left {
    display: flex;
    float: left;
    text-align: center;
}

nav button {
    background-color: rgb(73, 185, 117);
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
    height: 40px;
    margin-top: 5px;
}

nav .left div {
    margin-right: 15px;

}

.catg h1 {
    font-weight: bold;
    color: rgb(54, 52, 51);
    background-color: aliceblue;
    margin: 0;
    padding-top: 20px;
    margin-right: 30px;
    margin-top: 30px;
}

.catg .items {

    display: flex;
    overflow: hidden;
    overflow-x: scroll;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 60px;

}

.catg .items .item {
    text-align: center;
    margin-left: 30px;
    white-space: nowrap;
}

.catg .items .item img {
    border-radius: 50%;
    box-shadow: 2px 2px 6px gray;
    height: 75px;
    width: 75px;
    background-color: white;
}

.catg .items .item p {
    margin-top: 3px;
}

.cards {
    padding-left: 100PX;
    padding-top: 20PX;
    padding-right: 100px;
    display: flex;
    background-color: rgb(248, 248, 248);
    vertical-align: middle;
}

.cards .card {
    box-shadow: 2px 2px 6px gray;
    margin-left: 40px;
    background-color: white;
    border-radius: 8PX;
    height: 100%;
    width: 100%;
}

.cards .card img {
    width: 100%;

}

.cards .card-3 {
    margin-left: 0;
}

.cards .card .img {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 15px;
    border-style: none;
}

.cards .card .text {
    padding: 15px;
}

.footer {
    background-color: rgb(248, 248, 248);
    padding-right: 100px;
    padding-left: 100px;
    display: flex;

}

.contact {
    height: 100%;
    margin-right: 30px;
    display: inline;
}

.info {
    height: 100%;
    margin-right: 30px;
}

.prof {
    margin-right: 30px;
    height: 100%;
}

.whts {
    margin-right: 30px;
    height: 100%;
}

.footer ul {
    padding-right: 0;
}

.footer ul li {
    list-style-type: none;
}

.footer .contact .whts i {
    display: flex;

    border-radius: 50%;
}

.whts button {
    background: #7e57c6;
    margin-right: 8px;
    flex-shrink: 0;
    border-radius: 2px;
    border: none;
    padding: 0 20px;
    font-family: inherit;
    font-size: 15px;
    color: #fff;
} */