/*.link{display:block;
    margin: 50px;
    padding: 10px;
   direction: none;}*/
/* body {
  /*  margin: 0;*/
/* font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
   
    background-color: #fff;
} */
 /* nav {

    padding-right: 100px;
    padding-left: 100px;
    margin-top: 30px;
} */

/* .catg .items .item {
    text-align: center;
    margin-left: 30px;
    white-space: nowrap;
}

.catg .items .item img {
    border-radius: 50%;
    box-shadow: 2px 2px 6px gray;
    height: 75px;
    width: 75px;
    background-color: white;
}

.catg .items .item p {
    margin-top: 3px;
}

.cards {
    padding-left: 100PX;
    padding-top: 20PX;
    padding-right: 100px;
    display: flex;
    background-color: rgb(248, 248, 248);
    vertical-align: middle;
}
 */
 #decrib{
    box-shadow: rgb(143, 109, 65) 0px -4px;
    border-radius: 2px 2px 4px 4px; 
  border-width: 0px 1px 1px;
    border-color: rgb(205, 204, 204);
    border-style: solid;
    border-style: solid;
    border-radius: 5px;
    border-color: gray;
    border-width: 1px;
    overflow: hidden; 
    
}
#att{
    box-shadow: rgb(255 208 7) 0px -4px;
    border-radius: 2px 2px 4px 4px; 
  
  border-width: 0px 1px 1px;
    border-color: rgb(205, 204, 204);
    border-style: solid;
    border-style: solid;
    border-radius: 5px;
    border-color: gray;
    border-width: 1px;
    overflow: hidden; 
}
#ext{
    box-shadow: rgb(187, 106, 205) 0px -4px;
    border-radius: 2px 2px 4px 4px; 
  
  border-width: 0px 1px 1px;
    border-color: rgb(205, 204, 204);
    border-style: solid;
    border-style: solid;
    border-radius: 5px;
    border-color: gray;
    border-width: 1px;
    overflow: hidden; 
}
#f{
    width: 30%;
}
.info {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
.prof{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
/* .decrib p{
 color: rgb(57, 62, 67);
}/* 
/* th,td {

    width: 90%;
    padding: 10px;
    border-bottom: 10px;
    border-style: inherit;
    margin: 5px,0;
    color: lightslategray;
    border-color: gray;
    
}

table {
    border-collapse: collapse;
}
.color-black {
    color: rgb(54, 52, 51);
}
.but{    display: inline-block;}
h5 {
    font-size: 1.25rem; */
/*margin-bottom: 0.5rem;
    margin-top: 0;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;*/
/* display: block;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
}
.name {
    font-size: 40px;
    line-height: 48px;
    color: rgb(54, 52, 51);
    width: 65%;
} */
.header-line {
    margin: 0;
    border: 0;
    height: 5px;
    background: linear-gradient(to right, rgba(255, 208, 7) 0%, rgba(255, 208, 7) 12.5%, rgba(192, 156, 221, 1) 62.5%, rgba(192, 156, 221, 1) 75%);
}

#n1 {
    margin-right: 33%;

}

nav {
    height: 80px;
    
}

#btn1 {

    width: 150px;
    height: 45px;
}
#sb{
    margin-right: 20%;
}

.items {
    position: relative;
    width: 100%;
    white-space: nowrap;
    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;
    user-select: none;
    cursor: pointer;
    text-align: center;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 5px;
}

.item {
    text-align: center;
    margin-left: 30px;
    white-space: nowrap;
}

.item img {
    border-radius: 50%;
    box-shadow: 2px 2px 6px gray;
    height: 75px;
    width: 75px;
    background-color: white;
}

.item p {
    margin-top: 3px;
}

#dropdown {
    width:900 px;
    height: 800 px;
   
    
}